.header {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 94px;
    padding-top: 4px;
    background-color: #db0011;
    vertical-align: middle;
}

.header .row {
    margin: 0;
}

.header-subtitle-img {
    margin-left: 10px;
}

.header-subtitle {
    color: white
}

.header_button {
    margin-right: 20px;
}