.footer-component {
    width: 100%;
    z-index: 1000;
}

.footer-bar {
    height: 3em;
    background-color: rgb(98, 100, 105);
    color: white;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.footer-bar-link {
    font-size: 20px;
}

.footer-bar-link a {
    color: white;
}

.sub-footer {
    height: 2em;
    background-color: white;
}

.sub-footer li {
    list-style-type: none;
}

.sub-footer a:hover {
    cursor: pointer;
}