<div class="footer-component container-fluid">
    <div class="row footer-bar">
        <span class="footer-bar-link col-sx-12 col-md-6 col-lg-6 text-center">
          <a href="https://www.hsbc.fr/1/2/hsbc-france/particuliers/contactez-nous?WT.ac=HBFR_HRBWM_Footer_Contact">
            <img src="assets/img/contact_hsbc.jpg" alt="Contact us">
            {{'FOOTER.CONTACT_US' | translate}}
          </a>
        </span>
        <span class="footer-bar-link col-sx-12 col-md-6 col-lg-6 text-center">
          <a href="http://www.hsbc.fr/1/2/hsbc-france/trouver-une-agence?WT.ac=HBFR_HRBWM_Footer_Branch">
            <img src="assets/img/find_branch.jpg" alt="Find a branch">
            {{'FOOTER.BRANCH_LOCATOR' | translate}}
          </a>
        </span>
    </div>
    <div class="row sub-footer text-center">
        <ul>
            <li class="col-sx-1 col-md-2 col-lg-2"><a href="http://www.hsbc.fr/about">{{'FOOTER.WHOAREWE' | translate}}</a></li>
            <li class="col-sx-1 col-md-1 col-lg-2"><a href="">{{'FOOTER.SECURITY' | translate}}</a></li>
            <li class="col-sx-1 col-md-2 col-lg-2"><a href="">{{'FOOTER.LEGAL' | translate}}</a></li>
            <li class="col-sx-1 col-md-1 col-lg-2"><a href="">{{'FOOTER.PRICING' | translate}}</a></li>
            <li class="col-sx-1 col-md-1 col-lg-1"><a href="">{{'FOOTER.HELP' | translate}}</a></li>
            <li class="col-sx-1 col-md-1 col-lg-1"><a href="">{{'FOOTER.MIF' | translate}}</a></li>
            <li class="col-sx-1 col-md-4 col-lg-6"><a href="">{{'FOOTER.COPYRIGHT' | translate:params}}</a></li>
        </ul>
    </div>
</div>
