<article>
  <alert type="warning" *ngIf="alertIsVisible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, officiis quod voluptatum labore non. Voluptate eveniet maxime
    commodi vero totam, fuga sed autem omnis cupiditate cum facilis rem adipisci, corrupti, enim dolorem at quis nemo odit
    non consequuntur sint alias harum! Animi veritatis repellat dignissimos minima perferendis rerum! Aliquam dicta hic illum,
    et quisquam. Illum omnis necessitatibus adipisci perferendis fugiat, cum recusandae, facere pariatur.

  </alert>
  <button class="button button-std" (click)="toggleAlert()">{{displayAlertMessage}}</button>
</article>
