<div class="main-container">
    <div class="container-fluid row main-top">
        <article class="main-top">
            <img src="assets/img/puce_banking.jpg" alt="M">
            <span>{{ 'MAIN.MESS1' | translate }}</span>
            <span class="help">
          <a routerLink="/help">{{ 'MAIN.HELP' | translate }}</a>
          &nbsp;|&nbsp;
          <a (click)="print">{{ 'MAIN.PRINT' | translate }}</a>
          </span>
            <alert type="warning" *ngIf="alertIsVisible">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, officiis quod voluptatum labore non. Voluptate eveniet maxime commodi vero totam, fuga sed autem omnis cupiditate cum facilis rem adipisci, corrupti, enim dolorem at quis nemo odit
                non consequuntur sint alias harum! Animi veritatis repellat dignissimos minima perferendis rerum! Aliquam dicta hic illum, et quisquam. Illum omnis necessitatibus adipisci perferendis fugiat, cum recusandae, facere pariatur.</alert>
            <button class="button button-std" (click)="toggleAlert()">{{displayAlertMessage}}</button>
        </article>
    </div>
    <div class="container-fluid row greatings">
        <article>
            <h1>{{ 'MAIN.WELCOME' | translate }}&nbsp;{{customer.title}}.&nbsp;{{customer.lastName}}</h1>
            <span class="last-connection">
                {{ 'MAIN.LAST_CONN' | translate:params }}  </span>
            <hr/>
        </article>
    </div>
    <article>
        <app-vam-main></app-vam-main>
    </article>
    <div class="container-fluid row">
        <section>
            <!--<div class="col-md-2">
                <app-branch-locator></app-branch-locator>
              </div>-->
            <div class="col-md-11">
                <app-balance-list></app-balance-list>
            </div>
        </section>
        <aside>
            <div class="col-md-1">
                <app-contact-bar></app-contact-bar>
                <!--<app-calc></app-calc>-->
            </div>
        </aside>
    </div>
</div>