<div class="main-container">
    <div class="container-fluid row main-top">
        <article class="main-top">
            <img src="assets/img/puce_banking.jpg" alt="M">
            <span>{{ 'MAIN.MESS1' | translate }}</span>
            <span class="help">
          <a routerLink="/help">{{ 'MAIN.HELP' | translate }}</a>
          &nbsp;|&nbsp;
          <a (click)="print">{{ 'MAIN.PRINT' | translate }}</a>
        </span></article>
           
        <app-information></app-information>
        
    </div>
    <div class="container-fluid row greatings">
        <article>
            <h1>{{ 'MAIN.WELCOME' | translate }}&nbsp;{{customer.title}}.&nbsp;{{customer.lastName}}</h1>
            <span class="last-connection">
                {{ 'MAIN.LAST_CONN' | translate:params }}  </span>
            <hr/>
        </article>
    </div>

    <article>
        <app-vam-main></app-vam-main>
    </article>
    
    <div class="container-fluid row">
        <section>
            <app-balance-list></app-balance-list>
        </section>
        <aside>
            <div class="col-md-1">
                <app-contact-bar></app-contact-bar>
                <!--<app-calc></app-calc>-->
            </div>
        </aside>
    </div>
</div>