<div class="vam-main hidden-xs hidden-sm" *ngIf="visible">
  <img class="closing-cross grow" src="assets/img/close_icon_10x10.png" alt="X" (click)="close()">

  <div class="vam-content container-fluid">


    <div class="row row-sm-flex-center">
      <div class="col-xs-1 col-sm-1 col-md-2">
        <img class="vam-icon grow" src="assets/img/VAM-PIB-advice_44px.png" alt="?">
      </div>
      <div class="col-xs-8 col-sm-8 col-md-8 ">
        <h3 class="vam-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis.</h3>
        <span class="vam-message"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus beatae iure, quibusdam maxime eveniet, eos
            dolore iste hic veniam tenetur aperiam quae voluptatem expedita deleniti laboriosam perferendis optio reiciendis
            aspernatur veritatis. Iure minus ullam itaque eveniet, deserunt libero, enim illum dignissimos, magni, quis molestias
            dicta. Repudiandae
          </span>
      </div>

      <div class="col-xs-1 cols-sm-2 col-md-2">
        <!--<button class="vam-button" type="button">Vérifier mes coordonnées</button>-->
        <button type="button" class="btn btn-danger btn-lg">
          <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
        </button>
      </div>

    </div>


  </div>

</div>